$primary-color: linear-gradient(180deg, #414D66 0%, #161C27 100%);
$primary-color__active: linear-gradient(180deg, #7488B1 0%, #3F506E 100%);
$number-color: #5D6A69;

$pinpad-color__back: linear-gradient(270deg, #222B3D 0%, #6A758B 100%);
$pinpad-color__front: #364157;

$modal-color__text: #747474;
